[submodule "examples/cryptol-specs"]
	path = examples/cryptol-specs
	url = https://github.com/GaloisInc/cryptol-specs.git
[submodule "dependencies/what4"]
	path = dependencies/what4
	url = https://github.com/GaloisInc/what4.git
[submodule "dependencies/parameterized-utils"]
	path = dependencies/parameterized-utils
	url = https://github.com/GaloisInc/parameterized-utils.git
